<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Genres</title>
    <link th:replace="~{fragments/header :: css}">
</head>

<body>

    <nav th:replace="~{fragments/header :: header}"></nav>

    <div class="container">
        <h1>List of all genres</h1>

        <div th:if="${genres.isEmpty()}">
            <p>No genres found.</p>
        </div>

        <div th:unless="${genres.isEmpty()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                        <th sec:authorize="hasAuthority('ADMIN')" scope="col">Modify</th>
                        <th sec:authorize="hasAuthority('ADMIN')" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="genre : ${genres}">
                        <td th:text="${genre.name}"></td>
                        <td>
                            <a th:href="@{/genres/{id}(id=${genre.id})}">
                                <button type="button" class="btn btn-primary">Details</button>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/genres/edit/{id}(id=${genre.id})}">
                                <button type="button" class="btn btn-warning">Modify</button>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <form th:action="@{/genres/delete/{id}(id=${genre.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr sec:authorize="hasAuthority('ADMIN')">

        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/genres/create}">
            <button type="button" class="btn btn-primary">Add new genre</button>
        </a>
    </div>

    <script th:replace="~{fragments/header :: js}"></script>

</body>

</html>