<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Genre details</title>
    <link th:replace="~{fragments/header :: css}">
</head>

<body>

    <nav th:replace="~{fragments/header :: header}"></nav>

    <div class="container">
        <h1>Genre details</h1>

        <div th:if="${genre}" th:object="${genre}">
            <p><b>Name:</b> <span th:text="*{name}"></span></p>
        </div>

        <div th:unless="${genre}">
            <p>No genre found.</p>
        </div>
    </div>

    <script th:replace="~{fragments/header :: js}"></script>

</body>

</html>