<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Author</title>
</head>

<body>
    <h1 th:if="${edit}">Edit author</h1>
    <h1 th:unless="${edit}">Create new author</h1>

    <form th:action="${edit} ? @{/authors/edit/{id}(id=${author.id})} : @{/authors/create}" method="post"
        th:object="${author}">

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" placeholder="Author name" required
                th:errorclass="is-invalid" />

            <div th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>

        <button type="submit">Save</button>
    </form>
</body>

</html>