<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Authors</title>
    <link th:replace="fragments/header :: css">
</head>

<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <h1>List of all Authors</h1>

        <div th:if="${authors.isEmpty()}">
            <p>No authors found.</p>
        </div>

        <div th:unless="${authors.isEmpty()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                        <th scope="col">Modify</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author : ${authors}">
                        <td th:text="${author.name}"></td>
                        <td>
                            <a th:href="@{/authors/{id}(id=${author.id})}">
                                <button type="button" class="btn btn-primary">Details</button>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/authors/edit/{id}(id=${author.id})}">
                                <button type="button" class="btn btn-warning">Modify</button>
                            </a>
                        </td>
                        <td>
                            <form th:action="@{/authors/delete/{id}(id=${author.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <a th:href="@{/authors/create}">
            <button type="button" class="btn btn-primary">Add new author</button>
        </a>
    </div>

    <script th:replace="fragments/header :: js"></script>

</body>

</html>