<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Manga</title>
    <link th:replace="fragments/header :: css">
</head>

<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <h1 th:if="${edit}">Edit manga</h1>
        <h1 th:unless="${edit}">Create new manga</h1>

        <form th:action="${edit} ? @{/manga/edit/{id}(id=${manga.id})} : @{/manga/create}" th:object="${manga}"
            method="post">

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}"
                    placeholder="Manga title (e.g. One Piece)" required th:errorclass="is-invalid"
                    class="form-control" />

                <div th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('title')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" id="description" name="description" th:field="*{description}"
                    placeholder="Manga description" required th:errorclass="is-invalid" class="form-control" />

                <div th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="releaseDate" class="form-label">Release Date:</label>
                <input type="date" id="releaseDate" name="releaseDate" th:field="*{releaseDate}" required
                    th:errorclass="is-invalid" class="form-control" />

                <div th:if="${#fields.hasErrors('releaseDate')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('releaseDate')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <p>Authors:</p>
                    <div th:each="author : ${authors}">
                        <input type="checkbox" th:field="*{authors}" th:value="${author.id}" th:text="${author.name}"
                            class="form-check-input" />
                    </div>
                </div>

                <div class="col">
                    <p>Genres:</p>
                    <div th:each="genre : ${genres}">
                        <input type="checkbox" th:field="*{genres}" th:value="${genre.id}" th:text="${genre.name}"
                            class="form-check-input" />
                    </div>
                </div>

                <div class="col">
                    <p>Status:</p>
                    <div th:each="status : ${statuses}">
                        <input type="radio" th:field="*{status}" th:value="${status.id}" th:text="${status.name}"
                            class="form-check-input" />
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <script th:replace="fragments/header :: js"></script>

</body>

</html>