<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manga</title>
    <link th:replace="~{fragments/header :: css}">
</head>

<body>

    <nav th:replace="~{fragments/header :: header}"></nav>

    <div class="container">
        <h1>List of all manga</h1>

        <div th:if="${mangas.isEmpty()}">
            <p>No manga found.</p>
        </div>

        <div th:unless="${mangas.isEmpty()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                        <th sec:authorize="hasAuthority('ADMIN')" scope="col">Modify</th>
                        <th sec:authorize="hasAuthority('ADMIN')" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="manga : ${mangas}">
                        <td th:text="${manga.title}"></td>
                        <td>
                            <div th:each="author : ${manga.authors}" th:text="${author.name}"></div>
                        </td>
                        <td>
                            <div th:each="genre : ${manga.genres}" th:text="${genre.name}"></div>
                        </td>
                        <td th:text="${manga.status.name}"></td>
                        <td>
                            <a th:href="@{/manga/{id}(id=${manga.id})}">
                                <button type="button" class="btn btn-primary">Details</button>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/manga/edit/{id}(id=${manga.id})}">
                                <button type="button" class="btn btn-warning">Modify</button>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')" s>
                            <form th:action="@{/manga/delete/{id}(id=${manga.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr sec:authorize="hasAuthority('ADMIN')">

        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/manga/create}">
            <button type="button" class="btn btn-primary">Add new manga</button>
        </a>
    </div>

    <script th:replace="~{fragments/header :: js}"></script>

</body>

</html>