<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manga</title>
    <link th:replace="~{fragments/header :: css}">
</head>

<body>

    <nav th:replace="~{fragments/header :: header}"></nav>

    <div class="container">
        <h1>Details</h1>

        <div>
            <img th:if="${manga.coverImage}" th:src="${manga.coverImage}" alt="Cover Image" />
        </div>

        <div th:if="${manga}" th:object="${manga}">
            <p><b>Title:</b> <span th:text="*{title}"></span></p>
            <p><b>Description:</b> <span th:text="*{description}"></span></p>
            <p><b>Release Date:</b> <span th:text="*{releaseDate}"></span></p>

            <p><b>Authors:</b></p>
            <ul>
                <li th:each="author : *{authors}" th:text="${author.name}"></li>
            </ul>
            <p><b>Genres:</b></p>
            <ul>
                <li th:each="genre : *{genres}" th:text="${genre.name}"></li>
            </ul>
            <p><b>Status:</b> <span th:text="*{status.name}"></span></p>
        </div>

        <div th:unless="${manga}">
            <p>No manga found.</p>
        </div>
    </div>

    <script th:replace="~{fragments/header :: js}"></script>

</body>

</html>