<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Status details</title>
    <link th:replace="~{fragments/header :: css}">
</head>

<body>

    <nav th:replace="~{fragments/header :: header}"></nav>

    <div class="container">
        <h1> Status details</h1>

        <div th:if="${status}" th:object="${status}">
            <p><b>Name:</b> <span th:text="*{name}"></span></p>
        </div>

        <div th:unless="${status}">
            <p>No status found.</p>
        </div>
    </div>

    <script th:replace="~{fragments/header :: js}"></script>

</body>

</html>